extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
            div.grid-row.list-row
                div.column-full
                    div.left-border.capitalise-text
                        span #{val.addressLine1.toLowerCase()}
                        | #{val.addressLine2 ? val.addressLine2.toLowerCase() : ''} 
                        | #{val.addressLine3 ? val.addressLine3.toLowerCase() : ''} 
                        | #{val.addressLine4 ? val.addressLine4.toLowerCase() : ''} 
                        | #{val.addressLine5 ? val.addressLine5.toLowerCase() : ''} 

                    div.left-border
                        span #{val.postcode ? val.postcode : ''} 
                        
                        
            
        if (!data.details)
            span= data.noResultsText