extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
                div(id="aliass#{index}").grid-row.list-row.alias
                    div.column-full
                        div.left-border
                            div(id="alias#{index}-name") #{val.forename + ' ' + val.forename2 + ' ' + val.surname}
                            if (val.dob)
                                div(id="alias#{index}-dob") Born on: #{val.dob}

        if (data.details.length === 0)
            span= data.noResultsText
