extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details[0]
            div.grid-row.list-row.recall
                div.column-full
                    div.left-border
                        span.quiet.block HDC Recall
                        div Recall date: #{val.dateCreated}
                        div Original curfew end date: #{val.originalCurfewEndDate}
                        div Outcome: #{val.outcome}
                        div Outcome date: #{val.outcomeDate}
                        div Reason: #{val.reason}

        if(data.details[1].length > 0)
            div.padTop
                each val,index in data.details[1]
                    div.grid-row.list-row.history
                        div.column-full
                            div.left-border
                                span.quiet.block #{val.stage}
                                span #{val.status}, #{val.date}
                                div #{val.reason}

        if (data.details[0].length === 0 && data.details[1].length === 0)
            span= data.noResultsText
