extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
            div.grid-row.list-row
                div.column-full
                    div.left-border
                        span.quiet.block #{val.stage}
                        span #{val.status}, #{val.date}
                        div #{val.reason}

        if (data.details.length === 0)
            span= data.noResultsText
