extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
            div.grid-row.list-row
                div.column-full(class="movement-type-#{val.type}")
                    div.left-border
                        
                        span.quiet #{val.date}
                    div.left-border
                        span.type.bold-small #{val.type == 'D' ? 'OUT' : 'IN'}
                        if(val.status)
                            | 
                            | -
                            | 
                            span #{val.status.trim()}
                    div.left-border
                        span.capitalise-text #{val.establishment.toLowerCase()}
                        
        if (!data.details)
            span= data.noResultsText