extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
            div.grid-row.list-row.listItem
                div.column-full
                    div.left-border
                        span.quiet #{val.date}
                    div.left-border
                        span.bold #{val.outcome}
                        |  - #{val.charge}
                    div.left-border
                        span #{val.establishment}

        if (data.details.length === 0)
            span= data.noResultsText
