extends ../subject

block subject-details
    div.column-two-thirds
        each val,index in data.details
            div.grid-row.list-row
                    div.column-full
                        div.left-border
                            span.quiet.block #{val.caseDate}
                            span Offence code #{val.offenceCode} 


                        div.left-border
                            span (#{val.establishment_code})
                            | 
                            span #{val.establishment.trim()} 
            
        if (!data.details)
            span= data.noResultsText