extends ../subject

block subject-details
    div.column-two-thirds
        if (data.details[0] && data.details[0].length !== 0)
            div.left-border
                p.quiet.block Court Hearings
                each val,index in data.details[0]
                    div.grid-row.list-row
                        div.column-full
                            div #{val.date}
                            div #{val.court}
        else
            div
                span Subject has no court hearings

        p

        if (data.details[1] && data.details[1].length !== 0)
            div.left-border
                p.quiet.block Effective Sentence
                - var first = data.details[1][0]
                div.grid-row.list-row
                    div.column-full
                        div #{first.changeDate}
                        div #{first.length} days
                        if first.keyDates
                            span
                            ul.prisoner-key-dates
                                each date, label in first.keyDates
                                    if date
                                        li
                                            span.quiet #{label}
                                            |  #{date}
            details.grid-row.column-two-thirds
                summary
                    span.summary Show history
                div.panel.panel-border-narrow

                    each val,index in data.details[1]
                        if index !== 0
                            div.grid-row.list-row
                                div.column-full
                                    div #{val.changeDate}
                                    div #{val.length} days
                                    if val.keyDates
                                        ul.prisoner-key-dates
                                            each date, label in val.keyDates
                                                if date
                                                    li
                                                        span.quiet #{label}
                                                        |  #{date}
        else
            div
                span Subject has no sentence history
