extends ../subject

block subject-details
    div.column-two-thirds
        div.grid-row.list-row
            div.column-full
                div.left-border
                    span.quiet.block Gender
                    span #{data.details.sex}
                    
                    
        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Age
                    span #{data.details.age}
                    
                    
        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Ethnicity
                    span #{data.details.ethnicity}
                    

        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Nationality
                    span #{data.details.nationality}


        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Marital status
                    span #{data.details.maritalStatus}


        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Date of birth
                    span #{data.details.dob}


        div.grid-row.list-row      
            div.column-full
                div.left-border
                    span.quiet.block Place of birth
                    span #{data.details.countryOfBirth}
                    
