extends layout

block content
    div.grid-row
        div.column-full

            if err
                div(id="errors" class="error-summary", role="group", aria-labelledby="error-message", tabindex="-1")
                    h1(class="heading-medium error-summary-heading", id="error-message")= err.title
                    p= err.desc ? err.desc : ''

                    if err.items && err.items.length > 0
                        ul.error-summary-list
                            each item in err.items
                                li
                                    each val, index in item
                                        a(href="##{index}") #{val}

    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge= content.title

            span Please email
            =" "
            a(href="mailto:hpa-private-beta-feedback@digital.justice.gov.uk") hpa-private-beta-feedback@digital.justice.gov.uk
            =" "
            | with any queries or feedback
