extends layout

block content

    div.backLinkContainer
        a.link-back(href="/subject/#{prisonNumber}") Back to subject details

    if err
        include ./search/searchError

    div.grid-row
        div.column-two-thirds
            if name
                h1.heading-xlarge Which details do you want to save for #{name.forename} #{name.surname}?
            else
                h1.heading-xlarge Which details do you want to save?
    div.grid-row
        div.column-full
            p.bold-small= content.body

            form(method="post", name="formPrint")
                div.form-group
                    fieldset
                        legend.visually-hidden= content.heading

                        input(type="hidden" name="_csrf" value="#{csrfToken}")

                        div.multiple-choice
                            input#summary(name="printOption", type="checkbox", value="summary")
                            label(for="summary")
                                | Subject

                        div.multiple-choice
                            input#sentenceSummary(name="printOption", type="checkbox", value="sentenceSummary")
                            label(for="sentenceSummary")
                                | Sentence Summary

                        div.multiple-choice
                            input#sentencing(name="printOption", type="checkbox", value="sentencing")
                            label(for="sentencing")
                                | Sentence History

                        div.multiple-choice
                            input#courtHearings(name="printOption", type="checkbox", value="courtHearings")
                            label(for="courtHearings")
                                | Court Hearings

                        div.multiple-choice
                            input#movements(name="printOption", type="checkbox", value="movements")
                            label(for="movements")
                                | Movements

                        div.multiple-choice
                            input#hdc(name="printOption", type="checkbox", value="hdc")
                            label(for="hdc")
                                | HDC history

                        div.multiple-choice
                            input#offences(name="printOption", type="checkbox", value="offences")
                            label(for="offences")
                                | Offences

                        div.multiple-choice
                            input#offencesInCustody(name="printOption", type="checkbox", value="offencesInCustody")
                            label(for="offencesInCustody")
                                | Offences in custody

                        div.multiple-choice
                            input#aliases(name="printOption", type="checkbox", value="aliases")
                            label(for="offencesInCustody")
                                | Aliases

                        div.multiple-choice
                            input#addresses(name="printOption", type="checkbox", value="addresses")
                            label(for="addresses")
                                | Addresses


                div.form-group
                    button.button#saveAsPdf Save as PDF
