extends layout

block content
    include includes/back-button.jade
    if err
        div(class="error-summary", role="group", aria-labelledby="error-message", tabindex="-1")
            h1(class="heading-medium error-summary-heading", id="error-message")= err.title
            
    div#print-header(aria-hidden="true")
        span GOV.UK - Inmate information system

    div#print-disclaimer(aria-hidden="true")
        p.title Disclaimer
        p In euismod nulla nec diam ullamcorper, in posuere magna rhoncus. Aliquam erat volutpat. Suspendisse at dolor mattis, euismod ligula non, placerat eros. Etiam sollicitudin rutrum tincidunt.

    if !err
        div.grid-row
            div.column-two-thirds
                h1.heading-xlarge.capitalise-text
                    | #{data.subject.forename.toLowerCase()}
                    | #{data.subject.forename2 ? data.subject.forename2.toLowerCase() : ''}
                    | #{data.subject.surname}
                    span.heading-secondary#subjectId PRISON NO. #{data.subject.prisonNumber}
                    
                p.font-medium
                    | #{data.subject.maritalStatus}
                    | #{data.subject.ethnicity}
                    | #{data.subject.sex}
                    | #{data.subject.nationality ? 'from ' + data.subject.nationality : ''}
                    | #{(data.subject.maritalStatus) ? '. ' : '' }
                    | #{(data.subject.countryOfBirth) || (data.subject.dob) ? 'Born' : ''}
                    | #{data.subject.countryOfBirth ? ' in ' + data.subject.countryOfBirth : ''}
                    | #{data.subject.dob ? ' on ' + data.subject.dob + ' ('+data.subject.age+' years)' : ''}
                    
                div.form-group 
                    button.button(onclick="window.print();") Print
                    
        section
            div.grid-row
                div.column-one-third
                    include subject/nav.jade

                block subject-details
                    