extends ../subject2

block subject-details
    div.column-two-thirds
        if (subject.movements && subject.movements.length !== 0)
            each val,index in subject.movements
                div.grid-row.list-row.listItem
                    div.column-full(class="movement movement-type-#{val.type}")
                        div.left-border
                            span.quiet #{moment(val.date).format('DD/MM/YYYY')}
                        div.left-border
                            span.type.bold-small #{val.type == 'D' ? 'OUT' : 'IN'} -&nbsp;
                            span #{setCase.sentence(val.movement)}

                        div.left-border
                            span #{setCase.capitalWithAcronyms(val.establishment)}

        else
            span= noResultsText
