extends ../subject2

block subject-details
    div.column-two-thirds
        if (subject.sentencing && subject.sentencing.length !== 0)
            each val,index in subject.sentencing
                div.grid-row.list-row.listItem
                    div.column-full
                        div(id="sentence#{index}").left-border.sentence
                            span.quiet Effective sentence
                            div #{moment(val.changeDate).format('DD/MM/YYYY')}
                            div #{val.lengthDays} days
                            //div #{val.reasonCode}
                            if val.SED || val.LED || val.CRD || val.HDCED || val.PED || val.NPD || val.HDCAD
                                ul
                                    if val.SED
                                        li
                                            span.quiet SED
                                            |  #{moment(val.SED).format('DD/MM/YYYY')}
                                    if val.LED
                                        li
                                            span.quiet LED
                                            |  #{moment(val.LED).format('DD/MM/YYYY')}
                                    if val.CRD
                                        li
                                            span.quiet CRO
                                            |  #{moment(val.CRD).format('DD/MM/YYYY')}
                                    if val.PED
                                        li
                                            span.quiet PED
                                            |  #{moment(val.PED).format('DD/MM/YYYY')}
                                    if val.NPD
                                        li
                                            span.quiet NPD
                                            |  #{moment(val.NPD).format('DD/MM/YYYY')}
                                    if val.HDCED
                                        li
                                            span.quiet HDCED
                                            |  #{moment(val.HDCED).format('DD/MM/YYYY')}
                                    if val.HDCAD
                                        li
                                            span.quiet HDCAD
                                            |  #{moment(val.HDCAD).format('DD/MM/YYYY')}
        else
            div
                span= noResultsText

block append scripts
    script(src="/public/javascripts/revealBundle.js?#{version}")
