extends ../subject2

block subject-details
    div.column-two-thirds
        if (subject.category)
                    div.grid-row.list-row
                        div.column-full
                            div.left-border
                                span.quiet Last recorded category
                                div #{setCase.capitalWithAcronyms(subject.category.category)}
                                div #{moment(subject.category.date).format('DD/MM/YYYY')}
        p

        if (subject.establishment)
                            div.grid-row.list-row
                                div.column-full
                                    div.left-border
                                        span.quiet Last recorded establishment
                                        div
                                            | #{setCase.capitalWithAcronyms(subject.establishment)}
        p

        if (subject.courtHearings && subject.courtHearings !== 0)
            - var firstHearing = subject.courtHearings[0]
                div.grid-row.list-row
                    div.column-full
                        div.left-border
                            span.quiet Court hearing
                            div #{moment(firstHearing.date).format('DD/MM/YYYY')}
                            div #{setCase.capital(firstHearing.court)}
        else
            div
                span Prisoner has no court hearings

        p

        if (subject.sentencing && subject.sentencing.length !== 0)
            - var firstSentence = subject.sentencing[0]
            div.grid-row.list-row.listItem
                div.column-full
                    div.left-border
                        span.quiet Effective sentence
                        div #{moment(firstSentence.changeDate).format('DD/MM/YYYY')}
                        div #{firstSentence.lengthDays} days
                        span.quiet Date of first reception
                        |  #{moment(subject.summary.receptionDate).format('DD/MM/YYYY')}
                        if firstSentence.SED || firstSentence.LED || firstSentence.CRD || firstSentence.HDCED || firstSentence.PED || firstSentence.NPD || firstSentence.HDCAD
                            ul
                                if firstSentence.SED
                                    li
                                        span.quiet SED
                                        |  #{moment(firstSentence.SED).format('DD/MM/YYYY')}
                                if firstSentence.LED
                                    li
                                        span.quiet LED
                                        |  #{moment(firstSentence.LED).format('DD/MM/YYYY')}
                                if firstSentence.CRD
                                    li
                                        span.quiet CRD
                                        |  #{moment(firstSentence.CRD).format('DD/MM/YYYY')}
                                if firstSentence.PED
                                    li
                                        span.quiet PED
                                        |  #{moment(firstSentence.PED).format('DD/MM/YYYY')}
                                if firstSentence.NPD
                                    li
                                        span.quiet NPD
                                        |  #{moment(firstSentence.NPD).format('DD/MM/YYYY')}
                                if firstSentence.HDCED
                                    li
                                        span.quiet HDCED
                                        |  #{moment(firstSentence.HDCED).format('DD/MM/YYYY')}
                                if firstSentence.HDCAD
                                    li
                                        span.quiet HDCAD
                                        |  #{moment(firstSentence.HDCAD).format('DD/MM/YYYY')}

        else
            div
                span Prisoner has no sentence history

block append scripts
    script(src="/public/javascripts/revealBundle.js?#{version}")
