extends ../subject2

block subject-details
    div.column-two-thirds
        if (subject.courtHearings && subject.courtHearings !== 0)
            - var firstHearing = subject.courtHearings[0]
                div.grid-row.list-row
                    div.column-full
                        div.left-border
                            span.quiet Court hearing
                            div #{moment(firstHearing.date).format('DD/MM/YYYY')}
                            div #{firstHearing.court}
        else
            div
                span Prisoner has no court hearings

        p

        if (subject.sentencing && subject.sentencing.length !== 0)
            - var firstSentence = subject.sentencing[0]
            div.grid-row.list-row.listItem
                div.column-full
                    div.left-border
                        span.quiet Effective sentence
                        div #{moment(firstSentence.changeDate).format('DD/MM/YYYY')}
                        div #{firstSentence.lengthDays} days
                        span.quiet Date of first reception
                        |  #{moment(subject.summary.receptionDate).format('DD/MM/YYYY')}
                        if firstSentence.dates
                            span
                            ul.prisoner-key-dates
                                each date, label in firstSentence.dates
                                    if date
                                        li
                                            span.quiet #{label}
                                            |  #{moment(date).format('DD/MM/YYYY')}
        else
            div
                span Prisoner has no sentence history

block append scripts
    script(src="/public/javascripts/revealBundle.js?#{version}")
