extends wrapper-view

block search-page


    mixin radioInput(caption, _target, _for, _val, _checked)
        label.block-label.selection-button-radio.bold-small(class=_checked ? "selected" : "", data-target=_target, for=_for )
            input(type="radio", name="dobOrAge", id=_for, value=_val checked=_checked)
            | #{caption}

    div.form-group

            +radioInput('Date of birth', 'dob_container','opt_dob', 'dob', !body.dobOrAge || body.dobOrAge == 'dob')

        div.panel.panel-border-narrow#dob_container
            fieldset
                legend
                    span.form-hint#dob-hint For example, 31 3 1980
                div.form-date
                    div.form-group.form-group-day
                        label.form-label(for="dob_day") Day
                        input.form-control#dob_day(name="dobDay", type="number", pattern="[0-9]*", min="0" max="31", aria-describedby="dob-hint", value=(body.dobDay ? body.dobDay : ''))

                    div.form-group.form-group-month
                        label.form-label(for="dob_month") Month
                        input.form-control#dob_month(name="dobMonth", type="number", pattern="[0-9]*", min="0", max="12", value=(body.dobMonth ? body.dobMonth : ''))

                    div.form-group.form-group-year
                        label.form-label(for="dob_year") Year
                        input.form-control#dob_year(name="dobYear", type="number", pattern="[0-9]*", min="1900", max="#{new Date().getFullYear()}", value=(body.dobYear ? body.dobYear : ''))


    div.form-group

         +radioInput('Age', 'age_container','opt_age', 'age', body.dobOrAge == 'age')


         div.panel.panel-border-narrow.js-hidden#age_container
            label(for="age")
                span.form-label-bold.visually-hidden Age or range
                span.form-hint For example, 32-34

            input.form-control.form-control-1-4#age(name="age", type="text", min="10" max="99", value=(body.age ? body.age : ''))


