mixin radioInput(caption, _for, _val, _checked)
    input(type="radio", name="dobOrAge", id=_for, value=_val checked=_checked)
    label(class=_checked ? "selected" : "", for=_for )
        | #{caption}

div.form-group

    div.multiple-choice(data-target="dob_container")
        +radioInput('Date of birth', 'optDob', 'dob', true)

    div.panel.panel-border-narrow#dob_container
        fieldset
            div.form-date
                div.form-group.form-group-day
                    label.form-label(for="dobDay") Day
                    input.form-control#dobDay(name="dobDay", type="number", pattern="[0-9]*", min="0" max="31", aria-describedby="dob-hint")

                div.form-group.form-group-month
                    label.form-label(for="dobMonth") Month
                    input.form-control#dobMonth(name="dobMonth", type="number", pattern="[0-9]*", min="0", max="12")

                div.form-group.form-group-year
                    label.form-label(for="dobYear") Year
                    input.form-control#dobYear(name="dobYear", type="number", pattern="[0-9]*", min="1900", max="#{new Date().getFullYear()}")


div.form-group

    div.multiple-choice(data-target='age_container')
        +radioInput('Age', 'optAge', 'age')


     div.panel.panel-border-narrow.js-hidden#age_container
        label(for="age")
            span.form-label-bold.visually-hidden Age or range
            span.form-hint For example, 32-34

        input.form-control.form-control-1-4#age(name="age", type="text", min="10" max="99")


