extends ../layout
mixin inmate(item)
    div.inmateDetails(class=item.visited ? 'visited' : '')
        a(href="/subject/#{item.prisonNumber}/summary#{queryStrings.thisPage}")
            span.inmateContainer
                span(class=item.visited ? '' : 'bold-medium').capitalise-text #{setCase.capital(item.firstName +' '+ (item.middleName)) +' '+ item.lastName +' '}
                if item.dob
                    span(class=item.visited ? '' : 'bold-medium') &middot; #{moment(item.dob).format('DD/MM/YYYY')}
                if item.isAlias
                    span.block Matched on alias: #{setCase.capital(item.aliasFirst + ' ' + item.aliasLast)}
                if item.prisonNumber
                    span.prisonNumber.block.text-secondary Prison no. #{item.prisonNumber}
                if item.receptionDate
                    span.firstReceptionDate.block.text-secondary First reception #{moment(item.receptionDate).format('DD/MM/YYYY')}
        block

block content
    div.grid-row
        div.column-one-third
            include ./searchForm

            if suggestions
                |  &nbsp;
                div.help-container.form-hint
                    span.hint.font-xsmall Not found what you're looking for?
                    div
                    span.hint.font-xsmall
                        a#suggestions(href="/search/suggestions") Try these alternatives

        div#resultsBody.column-two-thirds
            if err
                include ./searchError
            if !usePlaceholder
                h2.heading-large#contentTitle
                    if rowCount === 1
                        |#{rowCount} prisoner
                    else
                        |#{rowCount} prisoners

                if filtersForView && (data.length > 1 || (filtersForView.Male || filtersForView.Female || filtersForView.HDC || filtersForView.Lifer))
                    div#filters
                        fieldset.well
                            legend.font-xsmall Search filters
                            div(role="list")
                                form(method="post" action='/search/results/filters')
                                    input(type="hidden" name="_csrf" value="#{csrfToken}")
                                    input#male.filtering-option.font-xsmall(name="filter", type="submit", value="Male" class=filtersForView.Male ? "filtering-option-active" : "")
                                    input#female.filtering-option.font-xsmall(name="filter", type="submit", value="Female" class=filtersForView.Female ? "filtering-option-active" : "")
                                    input#hasDdc.filtering-option.font-xsmall(name="filter", type="submit", value="HDC" class=filtersForView.HDC ? "filtering-option-active" : "")
                                    input#isLifer.filtering-option.font-xsmall(name="filter", type="submit", value="Lifer" class=filtersForView.Lifer ? "filtering-option-active" : "")

                if data && data != 0
                    div#searchResults
                        each prisoner in data
                               +inmate(prisoner)

                if pagination
                    form(method="post")
                        input(type="hidden" name="_csrf" value="#{csrfToken}")
                        div.form-group.c-align
                            - var page = pagination.currPage;
                                span#paginationPrev
                                    if !pagination.showPrev
                                        span.inactive Previous
                                    else
                                        a(href="/search/results#{queryStrings.prevPage}") Previous
                                    |  &nbsp;

                            span
                                input.form-control#paginationInput(type="number", name="pageNumber", min="0", max=pagination.totalPages, value=pagination.currPage)
                            span
                                | of #{pagination.totalPages}

                            span#paginationNext
                                if !pagination.showNext
                                    span.inactive Next
                                else
                                    a(href="/search/results#{queryStrings.nextPage}") Next
            else
                p#noPrisoners
                    |Can't see prisoners? Try using the search ;-)

block append scripts
    script(src="/public/javascripts/tabs.js?#{version}")
    script(src="/public/javascripts/clearSearch.js?#{version}")
    script(src="/public/javascripts/searchValidation.js?#{version}")
