extends ../layout
mixin inmate(item)
    div.nomisContainer
        div.nomisDetails
            span(class='bold-medium').capitalise-text #{setCase.capital(item.firstName +' '+ (item.middleName)) +' '+ setCase.upper(item.lastName) +' '}
            if item.dob
                span(class='bold-medium') &middot; #{moment(item.dob).format('DD/MM/YYYY')}
            if item.isAlias
                span.block Matched on alias: #{setCase.capital(item.aliasFirst + ' ' + item.aliasLast)}
            if item.nomsId
                span.nomsId.block.text-secondary
                    | Nomis no. #{item.nomsId}
                    if item.receptionDate
                        |  &bull; Reception #{moment(item.receptionDate).format('DD/MM/YYYY')}
        block

block content
    div.grid-row

        if !usePlaceholder
            div.column-full
                ul#resultTabs.tab-wrapper.nomis
                    li.tab.tab.nomis
                        if usePlaceholder
                            a#hpaTab(href="/search") HPA
                        else
                            a#hpaTab(href="/search/results") HPA
                    li.tab.tab-selected.nomis NOMIS

        div.column-one-third
            div#searchBox
                ul#search-terms
                    each value, term  in searchTerms
                        li #{value}
                            br
                            span.hint.font-xsmall #{term}
                div
                    a(href="/search/results") Change search

        div#resultsBody.column-two-thirds
            if err
                include ./searchError
            if !usePlaceholder
                if rowCount === 0
                    h2.heading-large#contentTitle No prisoners found

                if data && data != 0
                    div#searchResults
                        each prisoner in data
                               +inmate(prisoner)

            else
                p#noPrisoners
                    |Can't see prisoners? Try using the search ;-)

block append scripts
    script(src="/public/javascripts/tabs.js?#{version}")
    script(src="/public/javascripts/searchValidation.js?#{version}")
