extends ../layout
mixin inmate(name, prisonNumber, dob, firstReceptionDate, alias, visited)
    div.inmateDetails(class=visited ? 'visited' : '')
        a(href="/subject/#{prisonNumber}/summary#{queryStrings.thisPage}").capitalise-text
            span.inmateContainer
                span(class=visited ? '' : 'bold-medium').capitalise-text #{name}
                if dob
                    span(class=visited ? '' : 'bold-medium') &middot; #{dob}
                if prisonNumber
                    span.prisonNumber.block.text-secondary Prison No. #{prisonNumber}
                if firstReceptionDate
                    span.firstReceptionDate.block.text-secondary First Reception. #{firstReceptionDate}
                if alias
                    span.block.text-secondary Also Known As: #{alias}
        block


block content
    div.backLinkContainer
        a.link-back(href="/search") Back to search

    if err
        include ./searchError

    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge#contentTitle= content.title

            if filtersForView && (data.length > 1 || (filtersForView.Male || filtersForView.Female || filtersForView.HDC))
                div#filters
                    fieldset.well
                        legend.font-xsmall Search filters
                        div(role="list")
                            form(method="post" action='/search/results/filters')
                                input(type="hidden" name="_csrf" value="#{csrfToken}")
                                input#male.filtering-option.font-xsmall(name="filter", type="submit", value="Male" class=filtersForView.Male ? "filtering-option-active" : "")
                                input#female.filtering-option.font-xsmall(name="filter", type="submit", value="Female" class=filtersForView.Female ? "filtering-option-active" : "")
                                input#hasDdc.filtering-option.font-xsmall(name="filter", type="submit", value="HDC" class=filtersForView.HDC ? "filtering-option-active" : "")

            if data && data != 0
                div#searchResults
                    each item in data
                       +inmate(item.forename
                                + (item.forename2)
                                + item.surname,
                               item.prisonNumber, item.dob, item.firstReceptionDate, item.alias, item.visited)


            if pagination
                form(method="post")
                    input(type="hidden" name="_csrf" value="#{csrfToken}")
                    div.form-group.c-align
                        - var page = pagination.currPage;
                            span#paginationPrev
                                if !pagination.showPrev
                                    span.inactive Previous
                                else
                                    a(href="/search/results#{queryStrings.prevPage}") Previous
                                |  &nbsp;

                        span
                            input.form-control#paginationInput(type="number", name="pageNumber", min="0", max=pagination.totalPages, value=pagination.currPage)
                        span
                            | of #{pagination.totalPages}

                        span#paginationNext
                            if !pagination.showNext
                                span.inactive Next
                            else
                                a(href="/search/results#{queryStrings.nextPage}") Next
            div.form-group
                a(href="/search") New search

