extends ../layout

block content
    div.back-link-container
        a.link-back(href="/search") Back to search

    if err
        include ./searchError

    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge#contentTitle= content.title

            mixin inmate(name, href)
                div
                    div.inmate-details
                        a.bold-medium(href="/subject/#{href}/summary").capitalise-text #{name}
                        block

            if data && data != 0
                each item in data
                   +inmate(item.forename.toLowerCase()
                            + (item.forename2 ? item.forename2.toLowerCase() : '')
                            + item.surname, item.prisonNumber)
                        if item.dob
                            span.bold-medium &middot; #{item.dob}
                        if item.prisonNumber
                            span.prisonNumber.block.text-secondary Prison No. #{item.prisonNumber}
                        if item.firstReceptionDate
                            span.firstReceptionDate.block.text-secondary First Reception. #{item.firstReceptionDate}

            if pagination
                form(method="post")
                    input(type="hidden" name="_csrf" value="#{csrfToken}")
                    div.form-group.c-align
                        - var page = pagination.currPage;
                            span#paginationPrev
                                if !pagination.showPrev
                                    span.inactive Previous
                                else
                                    a(href="/search/results?page=#{parseInt(page) - 1}") Previous
                                |  &nbsp;

                        span
                            input.form-control#paginationInput(type="number", name="pageNumber", min="0", max=pagination.totalPages, value=pagination.currPage)
                        span
                            | of #{pagination.totalPages}

                        span#paginationNext
                            if !pagination.showNext
                                span.inactive Next
                            else
                                a(href="/search/results?page=#{parseInt(page) + 1}") Next
            div.form-group
                a(href="/search") New search

