extends ../layout

block content
    include ../includes/back-button.jade

    div.grid-row
        div.column-two-thirds
            h1.heading-xlarge#contentTitle= content.title

            mixin inmate(name, href)
                div
                    div.inmate-details
                        a.bold-medium(href="/subject/#{href}/aliases").capitalise-text #{name}
                        block
            
            if data && data != 0
                each item in data
                   +inmate(item.forename.toLowerCase()
                            + (item.forename2 ? item.forename2.toLowerCase() : '')
                            + item.surname, item.prisonNumber)
                        span.bold-medium &middot; #{item.dob}
                        span.form-hint.capitalise-text  #{item.alias ? item.alias.trim().toLowerCase().substr(0, item.alias.trim().length-1) : '' }
                        span.capitalise-text #{(item.sentencingCourt) ? 'Sentenced by ' + item.sentencingCourt.toLowerCase() + ', ' + item.sentencingDate : ''}

            if pagination
                div.form-group.c-align
                    - var page = pagination.currPage;
                    if !pagination.showPrev
                        span.inactive Previous
                    else
                        a(href="/search/results?page=#{parseInt(page)-1}") Previous
                    |  &nbsp;

                    span.bold-small#pageIndicator #{page} of #{pagination.totalPages}
                    | &nbsp;

                    if !pagination.showNext
                        span.inactive Next
                    else
                        a(href="/search/results?page=#{parseInt(page)+1}") Next


            div.form-group
                a(href="/search") New search
