extends ../layout
block content

    include ../includes/tabs
    +tabs('Comparison', returnQuery, subjects.length)

    div
        div.grid-row
            each subject in subjects
                div(id="comparisonHeader" class = subjects.length > 2 ? 'column-one-third' : 'column-one-half')
                    span.bold-medium #{setCase.capital(subject.summary.firstName)} #{subject.summary.lastName}
                    span.block #{moment(subject.summary.dob).format('DD/MM/YYYY')}
                    if subjects.length > 1
                        a(href="#{subject.removePath}#{returnQuery}") Remove from shortlist
                    else
                        a(href="#{returnClearShortListQuery}") Remove from shortlist

        section.compare-section
            h2.heading-small Background
            div.grid-row
                each subject in subjects
                    div(id="comparisonBackground" class = subjects.length > 2 ? 'column-one-third' : 'column-one-half')
                        ul.list
                            if subject.summary.sex
                                li #{subject.summary.sex === 'M' ? 'Male' : 'Female'}
                            if subject.summary.ethnicity
                                li #{subject.summary.ethnicity}
                            if subject.summary.birthCountry
                                li Born in #{subject.summary.birthCountry}
                            if subject.summary.nationality
                                li National of #{subject.summary.nationality}
                            if subject.summary.religion
                                li #{subject.summary.religion}

        if showAliases
            section.compare-section
                h2.heading-small Aliases
                div.grid-row
                    each subject in subjects
                        div(id="comparisonAliases" class = subjects.length > 2 ? 'column-one-third' : 'column-one-half')
                            if subject.aliases
                                ul.list
                                    each alias in subject.aliases
                                        li
                                            if alias.first
                                                |#{setCase.capital(alias.first)}
                                            if alias.last
                                                |&nbsp;#{setCase.capital(alias.last)}
                                            if alias.birthDate
                                                |, #{moment(alias.birthDate).format('DD/MM/YYYY')}

        if showAddresses
            section.compare-section
                h2.heading-small Addresses
                div.grid-row
                    each subject in subjects
                        div(id="comparisonAddresses" class =  subjects.length > 2 ? 'column-one-third' : 'column-one-half')
                            if subject.addresses
                                ul.list
                                    each address in subject.addresses
                                        li
                                            if address.street
                                                | #{setCase.capital(address.street)}
                                            if address.street && address.town
                                                |, &nbsp;
                                            if address.town
                                                |#{setCase.capital(address.town)}
                                            if (address.street || address.town) && address.county
                                                |, &nbsp;
                                            if address.county
                                                |#{setCase.capital(address.county)}
